body{
background-color: cornflowerblue;
    }

    header{
        color: white;
        text-align: center;
    }

footer{
    margin: 0px auto;
    background: linear-gradient(45deg, #3623d4, #ec133bd1);
    box-shadow: 0 0 9px 3px black;
    text-align: center;
}

nav{
    width: 400px;
    margin: 0px auto;
}

a{
    color: darkblue;
}